@using Oqtane.Modules.Controls
@using Tres.ReportViewers.Services
@using Tres.ReportViewers.Models

@namespace Tres.ReportViewers.Modules
@inherits ModuleBase
@inject NavigationManager NavigationManager
@inject HttpClient http
@inject SiteState sitestate

<table class="table table-borderless">
    <tr>
        <td>
            <label class="control-label">Name: </label>
        </td>
        <td>
            <input id="_name" class="form-control" @bind="@_name" />
        </td>
    </tr>
</table>
<button type="button" class="btn btn-success" @onclick="Save">Save</button>
<NavLink class="btn btn-secondary" href="@NavigateUrl()">Cancel</NavLink>
<br />
<br />
@if (PageState.Action == "Edit")
{
    <AuditInfo CreatedBy="@_createdby" CreatedOn="@_createdon" ModifiedBy="@_modifiedby" ModifiedOn="@_modifiedon"></AuditInfo>
}

@code {
    public override SecurityAccessLevel SecurityAccessLevel => SecurityAccessLevel.Edit;
    public override string Actions => "Add,Edit";

    IReportViewerService ReportViewerService;
    int _id;
    string _name;
    string _createdby;
    DateTime _createdon;
    string _modifiedby;
    DateTime _modifiedon;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            ReportViewerService = new ReportViewerService(http, sitestate);
            if (PageState.Action == "Edit")
            {
                _id = Int32.Parse(PageState.QueryString["id"]);
                ReportViewer ReportViewer = await ReportViewerService.GetReportViewerAsync(_id);
                if (ReportViewer != null)
                {
                    _name = ReportViewer.Name;
                    _createdby = ReportViewer.CreatedBy;
                    _createdon = ReportViewer.CreatedOn;
                    _modifiedby = ReportViewer.ModifiedBy;
                    _modifiedon = ReportViewer.ModifiedOn;
                }
            }
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Loading ReportViewer {ReportViewerId} {Error}", _id, ex.Message);
            AddModuleMessage("Error Loading ReportViewer", MessageType.Error);
        }
    }

    private async Task Save()
    {
        try
        {
            if (PageState.Action == "Add")
            {
                ReportViewer ReportViewer = new ReportViewer();
                ReportViewer.ModuleId = ModuleState.ModuleId;
                ReportViewer.Name = _name;
                ReportViewer = await ReportViewerService.AddReportViewerAsync(ReportViewer);
                await logger.LogInformation("ReportViewer Added {ReportViewer}", ReportViewer);
            }
            else
            {
                ReportViewer ReportViewer = await ReportViewerService.GetReportViewerAsync(_id);
                ReportViewer.Name = _name;
                await ReportViewerService.UpdateReportViewerAsync(ReportViewer);
                await logger.LogInformation("ReportViewer Updated {ReportViewer}", ReportViewer);
            }
            NavigationManager.NavigateTo(NavigateUrl());
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Saving ReportViewer {Error}", ex.Message);
            AddModuleMessage("Error Saving ReportViewer", MessageType.Error);
        }
    }
}
